<h1 style="color:blue" align="center">Pandas Time Series Analysis: Period and PeriodIndex</h1>

<h3 style="color:purple">Yearly Period</h3>

In [5]:
import pandas as pd
#y=pd.Period('2016')
y=pd.Period('2025')
y

Period('2025', 'Y-DEC')

In [10]:
dir(y)

['__add__',
 '__array_priority__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_cython__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__setstate_cython__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [11]:
y.year

2025

In [12]:
y.now

In [13]:
m=pd.Period('2024-01','M')
m

Period('2024-01', 'M')

In [21]:
p=m+1
#p
#p.week
p.year
p.ordinal
p.freq

In [27]:
d=pd.Period('2025-03',freq='D')
d
d+10
d-3
#ml=d*4  #unsupported operand type(s) for *: 'Period' and 'int'

Period('2025-02-26', 'D')

In [36]:
h=pd.Period('2025-3-8 00:04:00',freq='H')
h
h.start_time
h.end_time
h+1
h-1

#alternate way using pandas offset
h+pd.offsets.Hour(5)

C:\Users\jaykh\AppData\Local\Temp\ipykernel_12520\3480417861.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  h=pd.Period('2025-3-8 00:04:00',freq='H')

Period('2025-03-08 05:00', 'h')

In [6]:
y.start_time

Timestamp('2025-01-01 00:00:00')

In [94]:
y.end_time

Timestamp('2025-12-31 23:59:59.999999999')

In [8]:
y.is_leap_year

False

In [41]:
#quartly
q=pd.Period('2024Q1')
q.start_time
q.end_time

q=pd.Period('2024Q2')
q.start_time
q.end_time

Timestamp('2024-06-30 23:59:59.999999999')

In [44]:
q1=pd.Period('2017Q1',freq='Q-JAN')
q1
q1.start_time
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [48]:
# convert the quartly frequency to monthly
q1.asfreq('M',how='start')
q1.asfreq('M',how='end')

Period('2016-04', 'M')

In [49]:
q2=pd.Period('2018Q2',freq='Q-JAN')
q2

Period('2018Q2', 'Q-JAN')

In [50]:
q2-q1

In [52]:
idx=pd.date_range('2011-01','2011-06')
idx=pd.date_range('2011-01','2011-06',freq='B')
idx

DatetimeIndex(['2011-01-03', '2011-01-04', '2011-01-05', '2011-01-06',
               '2011-01-07', '2011-01-10', '2011-01-11', '2011-01-12',
               '2011-01-13', '2011-01-14',
               ...
               '2011-05-19', '2011-05-20', '2011-05-23', '2011-05-24',
               '2011-05-25', '2011-05-26', '2011-05-27', '2011-05-30',
               '2011-05-31', '2011-06-01'],
              dtype='datetime64[ns]', length=108, freq='B')

In [54]:
index=pd.period_range('2011','2017',freq='Q')
index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [77]:
index[0].start_time
# index[0].end_time

# index[1].start_time
# index[1].end_time

Timestamp('2011-01-01 00:00:00')

In [60]:
#periods_range with only start time
index1=pd.period_range('2011',periods=10,freq='Q')
index1

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2'],
            dtype='period[Q-DEC]')

In [62]:
import numpy as np
ps=pd.Series(np.random.rand(len(index1)),index1)
ps

2011Q1    0.751574
2011Q2    0.300011
2011Q3    0.051962
2011Q4    0.378002
2012Q1    0.275215
2012Q2    0.712283
2012Q3    0.819252
2012Q4    0.722385
2013Q1    0.291695
2013Q2    0.116048
Freq: Q-DEC, dtype: float64

In [63]:
ps.index

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2'],
            dtype='period[Q-DEC]')

In [66]:
ps.to_frame()

               0
2011Q1  0.751574
2011Q2  0.300011
2011Q3  0.051962
2011Q4  0.378002
2012Q1  0.275215
2012Q2  0.712283
2012Q3  0.819252
2012Q4  0.722385
2013Q1  0.291695
2013Q2  0.116048

In [67]:
ps['2011':'2013']

2011Q1    0.751574
2011Q2    0.300011
2011Q3    0.051962
2011Q4    0.378002
2012Q1    0.275215
2012Q2    0.712283
2012Q3    0.819252
2012Q4    0.722385
2013Q1    0.291695
2013Q2    0.116048
Freq: Q-DEC, dtype: float64

In [70]:
pst=ps.to_timestamp()
pst

2011-01-01    0.751574
2011-04-01    0.300011
2011-07-01    0.051962
2011-10-01    0.378002
2012-01-01    0.275215
2012-04-01    0.712283
2012-07-01    0.819252
2012-10-01    0.722385
2013-01-01    0.291695
2013-04-01    0.116048
Freq: QS-OCT, dtype: float64

In [71]:
pst.index

DatetimeIndex(['2011-01-01', '2011-04-01', '2011-07-01', '2011-10-01',
               '2012-01-01', '2012-04-01', '2012-07-01', '2012-10-01',
               '2013-01-01', '2013-04-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [73]:
pst.to_period()

2011Q1    0.751574
2011Q2    0.300011
2011Q3    0.051962
2011Q4    0.378002
2012Q1    0.275215
2012Q2    0.712283
2012Q3    0.819252
2012Q4    0.722385
2013Q1    0.291695
2013Q2    0.116048
Freq: Q-DEC, dtype: float64

<h3 style="color:purple">Monthly Period</h3>

In [64]:
m = pd.Period('2017-12')
m

Period('2017-12', 'M')

In [2]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [3]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [4]:
m+1

Period('2018-01', 'M')

<h3 style="color:purple">Daily Period</h3>

In [66]:
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [67]:
d.start_time

Timestamp('2016-02-28 00:00:00')

In [68]:
d.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [69]:
d+1

Period('2016-02-29', 'D')

<h3 style="color:purple">Hourly Period</h3>

In [9]:
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

Period('2017-08-15 23:00', 'H')

In [10]:
h+1

Period('2017-08-16 00:00', 'H')

<h4>Achieve same results using pandas offsets hour</h4>

In [34]:
h+pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'H')

<h3 style="color:purple">Quarterly Period</h3>

In [11]:
q1= pd.Period('2017Q1', freq='Q-JAN')
q1

Period('2017Q1', 'Q-JAN')

In [12]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [13]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

<h4>Use asfreq to convert period to a different frequency</h4>

In [46]:
q1.asfreq('M',how='start')

Period('2016-02', 'M')

In [47]:
q1.asfreq('M',how='end')

Period('2016-04', 'M')

<h3 style="color:purple">Weekly Period</h3>

In [14]:
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [15]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [16]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [17]:
w2-w

6

<h3 style="color:purple">PeriodIndex and period_range</h3>

In [58]:
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [59]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [60]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

**Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017**

In [74]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

C:\Users\jaykh\AppData\Local\Temp\ipykernel_12520\2587666501.py:1: FutureWarning: 'q-jan' is deprecated and will be removed in a future version, please use 'Q-JAN' instead.
  r = pd.period_range('2011', '2017', freq='q-jan')

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [75]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [76]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [82]:
r = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
r

TypeError: __new__() got an unexpected keyword argument start

In [43]:
import numpy as np
ps = pd.Series(np.random.randn(len(idx)), idx)
ps

2016-01   -0.895267
2016-04    1.343498
2016-07   -0.979625
2016-10   -0.292720
2017-01    0.275139
2017-04    1.200450
2017-07    1.890607
2017-10    0.259646
2018-01   -1.113016
2018-04    1.669858
Freq: 3M, dtype: float64

<h4>Partial Indexing</h4>

In [44]:
ps['2016']

2016-01   -0.895267
2016-04    1.343498
2016-07   -0.979625
2016-10   -0.292720
2017-01    0.275139
Freq: 3M, dtype: float64

In [45]:
ps['2016':'2017']

2016-01   -0.895267
2016-04    1.343498
2016-07   -0.979625
2016-10   -0.292720
2017-01    0.275139
2017-04    1.200450
2017-07    1.890607
2017-10    0.259646
Freq: 3M, dtype: float64

<h4>Converting between representations</h4>

In [50]:
pst = ps.to_timestamp()
pst

2016-01-01   -0.895267
2016-04-01    1.343498
2016-07-01   -0.979625
2016-10-01   -0.292720
2017-01-01    0.275139
2017-04-01    1.200450
2017-07-01    1.890607
2017-10-01    0.259646
2018-01-01   -1.113016
2018-04-01    1.669858
Freq: QS-OCT, dtype: float64

In [51]:
pst.index

DatetimeIndex(['2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01', '2017-04-01', '2017-07-01', '2017-10-01',
               '2018-01-01', '2018-04-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [54]:
ps = pst.to_period()
ps

2016Q1   -0.895267
2016Q2    1.343498
2016Q3   -0.979625
2016Q4   -0.292720
2017Q1    0.275139
2017Q2    1.200450
2017Q3    1.890607
2017Q4    0.259646
2018Q1   -1.113016
2018Q2    1.669858
Freq: Q-DEC, dtype: float64

In [55]:
ps.index

PeriodIndex(['2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2',
             '2017Q3', '2017Q4', '2018Q1', '2018Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

<h3 style="color:purple">Processing Wal Mart's Financials</h3>

In [86]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [87]:
df.set_index("Line Item",inplace=True)
# df = df.T
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [88]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [89]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [90]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [27]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [28]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

<h4 style="color:green">Add start date end date columns to dataframe</h4>

In [96]:
df['Start Date']=df.index.map(lambda x:x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999

In [98]:
df['End Date']=df.index.map(lambda x:x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999